<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creative Agency Template</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="Assets/favicon.png" type="image/x-icon" />
  </head>

  <body>
    <!-- NAVBAR -->

    <div class="container b1">
      <div class="main-nav flex">
        <a href="#HOME" class="logo">
          <img src="Assets/asset 0.png" alt="company logo " />
        </a>
        <div class="nav-links">
          <ul class="flex">
            <li><a href="#ABOUT" class="hover-link">ABOUT</a></li>
            <li><a href="#SERVICES" class="hover-link">SERVICES</a></li>
            <li><a href="#PORTFOLIO" class="hover-link">PORTFOLIO</a></li>
            <li><a href="#CONTACT" class="hover-link">CONTACT</a></li>
          </ul>
        </div>
      </div>

      <div class="contant" id="HOME">
        <h1 class="txt"><span class="focus">Shoot</span> for the hoop!</h1>
        <p class="tag">Aiming low is not an option for us</p>
      </div>
    </div>

    <!-- PART II -->
    <div id="ABOUT" class="flex padi container">
      <div class="pic">
        <img src="Assets/asset 15.jpeg" alt="p1" />
      </div>
      <div class="box flex">
        <div class="wrd">
          <h1>Creative & fresh</h1>
          <h5>Our digital agency</h5>
          <p>
            Focus infographic venture business model canvas gamification
            ecosystem. Business plan gamification user experience low hanging
            fruit twitter. Metrics research & development market paradigm shift
            growth hacking disruptive user experience iPad social media angel
            investor alpha. Social proof lean startup alpha scrum project
            non-disclosure agreement.
          </p>
          <a href="#" class="btn">VIEW PORTFOLIO</a>
        </div>
      </div>
    </div>

    <!-- PART III -->
    <div class="flex padi container">
      <div class="box2 flex">
        <div class="wrd">
          <h1>Hip & Funky</h1>
          <h5>We try new things</h5>
          <p>
            Focus infographic venture business model canvas gamification
            ecosystem. Business plan gamification user experience low hanging
            fruit twitter. Metrics research & development market paradigm shift
            growth hacking disruptive user experience iPad social media angel
            investor alpha. Social proof lean startup alpha scrum project
            non-disclosure agreement.
          </p>
          <a href="#" class="btn hover-link">OUR SERVICES</a>
        </div>
      </div>
      <div class="pic2">
        <img src="Assets/asset 16.jpeg" alt="p1" />
      </div>
    </div>

    <!-- DATA -->
    <div class="container data flex">
      <div>
        <h1>342</h1>
        <h5>Cups of coffee</h5>
      </div>
      <div>
        <h1>756</h1>
        <h5>Bicycle kilometres</h5>
      </div>
      <div>
        <h1>419</h1>
        <h5>Brainstorm sessions</h5>
      </div>
      <div>
        <h1>284</h1>
        <h5>Video hours</h5>
      </div>
    </div>

    <!-- PART IV -->
    <div class="flex container">
      <div class="pic">
        <img src="Assets/asset 17.jpeg" alt="p1" />
      </div>
      <div class="box flex">
        <div class="wrd">
          <h1>Things we do</h1>
          <h5>We exist to create</h5>
          <p>
            Focus infographic venture business model canvas gamification
            ecosystem. Business plan gamification user experience low hanging
            fruit twitter. Metrics research & development market paradigm shift
            growth hacking disruptive user experience iPad social media angel
            investor alpha. Social proof lean startup alpha scrum project
            non-disclosure agreement.
          </p>
          <a href="#" class="btn">GET IN TOUCH</a>
        </div>
      </div>
    </div>

    <!-- DETAILS -->

    <div id="SERVICES" class="container det flex">
      <div class="bg1">
        <img src="Assets/asset 2.svg" alt="det" />
        <h2>BRANDING</h2>
        <p>
          Focus infographic venture business model canvas gamification
          ecosystem. Business plan gamification user experience low hanging
          fruit twitter. Metrics research & development market paradigm shift
          growth hacking disruptive user experience iPad social media angel
          investor alpha.
        </p>
      </div>
      <div class="bg2">
        <img src="Assets/asset 3.svg" alt="det" />
        <h2>Web Design</h2>
        <p>
          Focus infographic venture business model canvas gamification
          ecosystem. Business plan gamification user experience low hanging
          fruit twitter. Metrics research & development market paradigm shift
          growth hacking disruptive user experience iPad social media angel
          investor alpha.
        </p>
      </div>
      <div class="bg3">
        <img src="Assets/asset 4.svg" alt="det" />
        <h2>Graphic Design</h2>
        <p>
          Focus infographic venture business model canvas gamification
          ecosystem. Business plan gamification user experience low hanging
          fruit twitter. Metrics research & development market aradigm shift
          growth hacking disruptive user experience iPad social media angel
          investor alpha.
        </p>
      </div>
    </div>

    <!-- CLIENTS -->
    <div class="client">
      <h2>Our clients love our work</h2>
      <h5>But don’t just take our word for it...</h5>
    </div>

    <!-- FEATURES -->

    <div id="PORTFOLIO" class="container con flex">
      <div>
        <h2>Letest creations</h2>
        <h5>We make beautiful things</h5>
        <p>
          Focus infographic venture business model canvas gamification
          ecosystem. Business plan gamification user experience low hanging
          fruit twitter. Metrics research & development market paradigm shift
          growth hacking.
        </p>
      </div>
      <div class="disp">
        <img src="Assets/asset 5.jpeg" alt="" />
      </div>
      <div class="disp">
        <img src="Assets/asset 6.jpeg" alt="" />
      </div>
      <div class="disp">
        <img src="Assets/asset 7.jpeg" alt="" />
      </div>
    </div>

    <div class="container con flex">
      <div class="disp">
        <img src="Assets/asset 8.jpeg" alt="" />
      </div>
      <div class="disp">
        <img src="Assets/asset 9.jpeg" alt="" />
      </div>
      <div class="disp">
        <img src="Assets/asset 10.jpeg" alt="" />
      </div>
      <div class="disp">
        <img src="Assets/asset 11.jpeg" alt="" />
      </div>
    </div>

    <!-- REACH US -->

    <div id="CONTACT" class="letter">
      <h2>Write us a letter</h2>
      <h5>We appreciate you ideas</h5>
    </div>
    <!-- FORM -->
    <div class="send container">
      <form action="#">
        <p>
          <label for="fName">NAME</label><br />
          <input
            class="full"
            type="text"
            id="fName"
            placeholder="Enter your name"
            required
          />
        </p>
        <p>
          <label for="mail">EMAIL ADDRESS</label><br />
          <input
            class="full"
            type="email"
            id="mail"
            placeholder="Enter your email address"
            required
          />
        </p>
        <p>
          <label for="text">YOUR MESSAGE</label>
          <br />
          <textarea
            rows="4"
            cols="87px"
            name="comment"
            form="usrform"
          ></textarea>
        </p>
        <a href="#" class="btn hover-link">SEND</a>
      </form>
    </div>
    <!-- FOOTER -->
    <div class="container flex bg">
      <div class="ftr">
        <img src="Assets/asset 0.png" alt="Comapny Logo" />
      </div>
      <div class="check flex">
        <div class="add">
          <h4>MENU</h4>
          <p>ABOUT</p>
          <p>SERVICES</p>
          <p>PORTFOLIO</p>
          <p>CONTACT</p>
        </div>
        <div class="add">
          <h4>ADDRESS</h4>
          <p>HQ-202</p>
          <p>Institute Park</p>
          <p>Pallur Hills</p>
          <p>Berhampur</p>
          <p>OD-761008 IN</p>
        </div>
        <div class="add">
          <h4>CONTACT</h4>
          <p>E: su465man@gmail.com</p>
          <p>T: +91-6377032465</p>
          <p class="lnk">
            <a class="hover-link" href="#"
              ><i class="fa-brands fa-square-facebook"></i
            ></a>
            <a class="hover-link" href="#"
              ><i class="fa-brands fa-square-twitter"></i
            ></a>
            <a class="hover-link" href="#"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
            <a class="hover-link" href="#"
              ><i class="fa-brands fa-square-youtube"></i
            ></a>
          </p>
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/e982aa1439.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
